*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#body-container{
    position: relative;
  background-color: #242323;
  color:#ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#section-container{
    width: 500px;
    margin-left:50px;
}

#aside-container{
    position: absolute;
    top:30px;
    width:500px;
    height: 300px;
    margin-left:600px;
}

#results{
    
}

.result{
    background-color: #9c9a9a;
    border-radius: 15px;
    padding:5px 20px;
    margin-top:10px;
}

    .result h3{
        font:25px;
    }