*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

#body-container{
  background-color: #242323;
  color:#ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header-container, #jokes{
    text-align: center;
}

#section-container img,button{  
    display: block;
    margin:auto;
}

#section-container img{
    border: 2px solid #6d6d6d;
}

p{
  animation: fadein 0.3s ease-in;

}