*{
  font: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
  background-color: #000000;  
  color: #ffffff;
}

ul{
  list-style: none;
  padding:5px;
}

li{
  padding:5px;
}



aside{
  
}

footer{
  width:100%;
  display: inline-block;
  background-color:#ffe922;
}

header, footer{
  text-align: center;
}


/*----------classes------------*/

.header{
  font-size: 46px;
  border: 6px solid rgb(173, 10, 97);
  border-radius:15px;
  margin:1%;
}

.footer{
  font-size:10px;
}

.content{
  width:77%;
  margin:5px 2px 0px 2px;
  padding-bottom:10px;
  background-color: #3b14a8;
  border: 3px solid #170449;
  border-radius: 15px;
  float:left;
  font-size:14px;
}

.navigation{
  width:8%;
  height:200px;
  border:3px solid rgb(13, 13, 122);
  border-radius:15px;
  padding: 5px;
  float:left;
  font-size: 12px;
  margin:5px;
}

  .navigation h4{
      text-align: center; 
  }

.sidebar{
  margin: 5px 0px 0px 2px;
  padding: 5px;
  font-size:10px;
  width:10%;
  float:left;
  border:3px solid rgb(116, 6, 64);
  border-radius: 15px;
}

*[class$="r"]{
  background-color: #E5097F;
}

*[class*="a"]:not(*[class$="r"]){
  background: #0000FF;
}
