*{
  font: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
  background-color: #000000;  
  color: #ffffff;
}

ul{
  list-style: none;
}

header{
  background-color: #d80000;
}

nav{
  width:10%;
  background-color: #10a330;
  float:left;
}

section{
  width:80%;
  background-color: #3b14a8;
  float:left;
}

aside{
  width:10%;
  background-color: #e97c00;
  float:left;
}

footer{
  width:100%;
  display: inline-block;
  background-color:#ffe922;
}

header, footer{
  text-align: center;
}


/*----------classes------------*/

.header{
  font-size: 46px;
}

.footer{
  font-size:10px;
}

.content{
  font-size:14px;
}

.navigation{
  font-size: 12px;
}

.sidebar{
  font-size:10px;
}

*[class$="r"]{
  background-color: #E5097F;
}

*[class*="a"]:not(*[class$="r"]){
  background: #0000FF;
}
